$white: #fff;

$red: #dc3545;
//$body-bg: $red;

//$primary: #8d021f; // burgundy
$info: #7f7f7f; // grey

$teal: #20c997;
//$body-bg: $teal;

$black: #2d243b;
$body-bg: $black;     // background-color for the <body> 
$body-color: $white;  // color for the <body> 

/* custom vars */
$custom-font-size: 20px;